@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #001f3f;
  --color-background: #f8fafc;
  --color-accent: #00c2a8;
}

@layer base {
  * {
    @apply border-slate-200;
  }

  body {
    @apply bg-background text-primary antialiased;
  }

  ::selection {
    @apply bg-accent/20 text-primary;
  }
}